<div id="introPartial">
    <h2>About me</h2>
    <p>
        Hi! I'm Clyde D'Souza. I'm a creative and self-driven person who likes to code and do other things. I'm currently working as a software developer at <a href="https://www.xero.com/nz/?ref=clydedsouza" target="_blank">Xero</a>. Previously, I've worked with <a href="https://www.datacom.co.nz/?ref=clydedsouza.net" target="_blank">Datacom</a> and <a href="https://www.heritagehotels.co.nz/?ref=clydedsouza.net" target="_blank">Heritage Hotels</a>. 
    </p>
    <p>
        I was the event director of a non-profit educational event called Light & Spark NPO. I conceptualized and executed this event in Mumbai along with my <a href="https://lightandsparknpo.github.io/team/" target="_blank">amazing team</a>. Read more about it <a href="https://lightandsparknpo.github.io/2019-11-20-ruia-mumbai-2018/" target="_blank">here</a>.
    </p>
    <p>
        I've published a book titled Mama, tell me a story which is available on <a href="http://mamatellmeastory.clydedsouza.net/" target="_blank">these platforms</a>. It's a collection of twelve short bedtime stories that parents will love reading to their kids over and over again. Go buy it now!
    </p>
    <p>
        In my spare time, I like to explore other interests like <a href="https://medium.com/@clydedz" target="_blank">writing</a>, <a href="https://www.skillshare.com/r/user/clydedsouza" target="_blank">teaching</a> and I've also created many <a href="/#/projects">other projects</a> in my spare time.
    </p>
    <p>
        I'm an alumnus of <a href="https://www.aut.ac.nz/?ref=clydedsouza" target="_blank">Auckland University of Technology (AUT)</a> with a Postgraduate Diploma in Computer and Information Sciences and holds a Bachelor of Science degree specializing in Information Technology from University of Mumbai, India.
    </p>
    <br />
    <h2>Highlights</h2>
    <div>
        <div id="projectsPartialView"></div>
        <div id="projectsPartialTemplateHolder" style="display:none !important;"></div>
    </div> 
</div>