<div id="introPartial">
    <h2>About me</h2>
    <p>
        I'm a dedicated, creative, self-driven person with a can-do attitude. I started my career as a software developer and over the past two-and-a-half years, I’ve gained experience not only in software development but also in managing project timelines, analysis and estimation activities, technical and user documentation and at maintaining an effective client relationship. 
        My personal mission statement is to see a solution from ideation to go-live and during this journey help and enable my team to achieve excellence.
    </p>
    <p>
        I'm currently working as a software developer at <a href="https://www.datacom.co.nz/?ref=clydedsouza.net" target="_blank">Datacom</a>. Previously, I've worked with <a href="https://www.heritagehotels.co.nz/?ref=clydedsouza.net" target="_blank">Heritage Hotels</a> as a part-time administrative assistant. I've also created Profile Sticker and many other projects in my spare time.
    </p>
    <br />
    <h2>Pinned projects</h2>
    <div>
        <div id="projectsPartialView"></div>
        <div id="projectsPartialTemplateHolder" style="display:none !important;"></div>
    </div> 
</div>