<div id="portfolioPartial">
    <div id="pinnedProjects">
        <h2>Portfolio</h2>
        <div id="pinnedProjectsList">
            <a href="#" target="_blank">
                <section>
                    <div class="project-header">
                        <div class="project-header-contents">
                            <img src="https://via.placeholder.com/64.png" />
                            <div>
                                Project title
                            </div>
                            <div>
                                Project date
                            </div>
                        </div>
                    </div>
                    <div class="project-body">
                        <div class="section_title">Ipsum</div>
                        <div class="about_section">
                            Lorepm
                        </div>
                    </div>
                </section>
            </a>
            <a href="#" target="_blank">
                <section>
                    <div class="project-header">
                        <div class="project-header-contents">
                            <img src="https://via.placeholder.com/64.png" />
                            <div>
                                Project title
                            </div>
                            <div>
                                Project date
                            </div>
                        </div>
                    </div>
                    <div class="project-body">
                        <div class="section_title">Ipsum</div>
                        <div class="about_section">
                            Lorepm
                        </div>
                    </div>
                </section>
            </a>
        </div>
    </div>
</div>