<script id="projectsRepeaterPartial" type="text/x-mustache">
    <div id="pinnedProjects">
        <div id="pinnedProjectsList">
            {{#projects}}
            <section>
                <div class="project-header" style="background-image: url('{{image}}');">
                    <div class="project-header-contents">
                        <div>
                            <label>{{category}}</label>
                            <label>{{date}}</label>
                            {{^isActive}}
                            <label>Inactive</label>
                            {{/isActive}}
                        </div>
                    </div>
                </div>
                <div class="project-body">
                    <h3>
                        {{title}}
                    </h3>
                    <p>
                        {{description}}
                    </p>
                    <p>
                        {{#madeUsing}}
                        <label>{{.}}</label>
                        {{/madeUsing}}
                    </p>
                    <div>
                        <div class="col-xs-8 text-left">
                            <a onclick="redirectToProjectDetails('{{sourceBase}}','{{relativeURL}}', '{{title}}');">Read more <span><i class="fas fa-arrow-right"></i></span></a>
                        </div>
                        <div class="col-xs-4 text-right">
                            {{#hasWebsite}}
                            {{#isActive}}
                            <a href="{{website}}">
                                <i class="fas fa-globe"></i>
                            </a>
                            {{/isActive}}
                            {{/hasWebsite}}
                            {{#onGithub}}
                            <a href="{{github}}">
                                <i class="fab fa-github"></i>
                            </a>
                            {{/onGithub}}
                        </div>
                        
                    </div>
                </div>
            </section>
            {{/projects}}
        </div>
    </div>
</script>
