<div id="projectsRepeaterPartial">
    <div id="pinnedProjects"> 
        <div id="pinnedProjectsList">
            {{#projects}}
            <section>
                <div class="project-header" style="background-image: url('{{image}}');">
                    <div class="project-header-contents">
                        <label>{{category}}</label>
                        <label>{{date}}</label>
                    </div>
                </div>
                <div class="project-body">
                    <h3>
                        {{title}}
                    </h3>
                    <p>
                        {{description}}
                    </p>
                    <p>
                        {{#madeUsing}}
                        <label>{{.}}</label>
                        {{/madeUsing}}
                    </p>
                    <div>
                        {{#hasWebsite}}
                        <a href="{{website}}">
                            <i class="mdi mdi-earth material-icons" aria-hidden="true"></i>
                        </a>
                        {{/hasWebsite}}
                        {{#onGithub}}
                        <a href="{{github}}">
                            <i class="mdi mdi-github-circle material-icons" aria-hidden="true"></i>
                        </a>
                        {{/onGithub}}
                    </div>
                </div>
            </section>
            {{/projects}}
        </div>
    </div>
</div>