<div id="searchControlPartial">
    <div>
        <form class="form-inline">
            <input type="search" id="searchTxt" class="form-control" />
            <!--<button type="button" id="searchBtn">Search</button>-->
            <select id="techMultiselect" multiple="multiple"></select>
            <select id="categoriesMultiselect" multiple="multiple"></select>
            <div id="includeInactiveContainer">
                <label class="switch-label">Show inactive</label>
                <label class="switch">
                    <input type="checkbox" id="includeInactive">
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
    </div>
</div>