<div id="speakingPartial">
    <div id="pinnedProjects">
        <h2>Speaking</h2>
        <div>
            <p>Search form</p>
        </div>
        <div>
            <div id="searchControlPartialView"></div>
            <div id="searchControlPartialTemplateHolder" style="display:none !important;"></div>
        </div>
        <div>
            <div id="projectsPartialView"></div>
            <div id="projectsPartialTemplateHolder" style="display:none !important;"></div>
        </div>
    </div>
</div>