<html lang="en" ng-app="clyde" ng-controller="GlobalController">
<head>
    <title ng-cloak ng-bind="globalConfig.pageTitle"></title>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-----OpenGraph settings for social sharing------>
    <meta property="og:title" content="Clyde D'Souza'" />
    <meta property="og:type" content="personal website" />
    <meta property="og:url" content="http://clydedsouza.github.io/" />
    <meta property="og:image" content="http://clydedsouza.github.io/images/clydedsouza.jpg" />
    <meta property="og:site_name" content="Clyde D'Souza'" />
    <meta property="fb:admins" content="ClydeDz" />
    <meta property="og:description"  content="Know more about Clyde D'Souza- visit his personal website''" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href="css/theme.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <div ng-controller="IndexController">
        <md-content>
            <md-toolbar class="md-primary gradients">
                <div class="md-toolbar-tools">
                    <img src="images/clydedsouza-face-icon.png" class="md-avatar user-avatar" height="65" width="65" alt="Clyde D'Souza icon'" />
                    <h2>                        
                        <span>Clyde D'Souza</span>
                    </h2>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-tooltip md-direction="left">Share this site</md-tooltip>
                            <md-icon class="ion-android-share"></md-icon>
                        </md-button>
                        <md-menu-content width="1" class="md-whiteframe-z3">
                            <md-menu-item>
                                <md-button aria-label="Share on twitter"  ng-click="share('tweet')">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-menu-origin class="ion-social-twitter"></md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('fb')">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-menu-origin class="ion-social-facebook"></md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('google')">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-menu-origin class="ion-social-googleplus"></md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('linkedin')">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-menu-origin class="ion-social-linkedin"></md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>  
                <div flex></div>               
                <md-tabs md-selected="globalConfig.tabIndex==0?0:1" md-dynamic-height ng-cloak>
                    <md-tab ng-click="goTo('about')">
                        <md-icon aria-label="Share on twitter" class="material-icons">person</md-icon> About
                    </md-tab>
                    <md-tab ng-click="goTo('projects')">
                        <md-icon aria-label="Share on twitter" class="material-icons">code</md-icon> Projects
                    </md-tab>
                 </md-tabs>                          
            </md-toolbar>
        </md-content>
        <div ng-view></div>
        <md-content class="body-bg">
            <div layout="row" layout-align="center center">
                <md-button aria-label="Send me an email" href="mailto:clydedsouza@outlook.com?Subject=Hi%20Clyde%21&amp;Body=Greetings%20Clyde,%20%0D%0DI%20want%20to%20get%20in%20touch%20with%20you.%0D%0DThanks,%20%0D%0DSent%20from%20http%3A%2F%2Fclydedsouza.github.io" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Send me an email</md-tooltip>
                    <md-icon class="material-icons">email</md-icon>
                </md-button>
                <md-button aria-label="Connect with me on LinkedIn" href="https://nz.linkedin.com/in/clydedz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Connect with me on LinkedIn</md-tooltip>
                    <md-icon class="ion-social-linkedin"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on twitter" href="http://www.twitter.com/ClydeDz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Follow me on twitter</md-tooltip>
                    <md-icon class="ion-social-twitter"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on GitHub" href="http://www.github.com/ClydeDz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Follow me on GitHub</md-tooltip>
                    <md-icon class="ion-social-github"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <p>Website crafted by Clyde D'Souza</p>
            </div>
            <div class="footer-block gradients"></div>
        </md-content>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>