<!-- Clyde D'Souza -->
<html lang="en" ng-app="clyde" ng-controller="GlobalController">
<head>
    <title ng-cloak ng-bind="globalConfig.pageTitle">Clyde D'Souza - A full-stack software developer</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <base href="/">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="author" href="https://plus.google.com/u/0/+ClydeDsouzaPlus">
    <meta name="msvalidate.01" content="8ABC4E1B7DBE4391CF265948730B9299" />
    <meta name="Keywords" content="Clyde D'Souza, @ClydeDz, full-stack software developer, passionate front end developer, eye for ui, ux, Auckland, New Zealand, NZ, author, Mama tell me a story" />
    <meta name="author" content="Clyde D'Souza">
    <meta name="description" content="Know more about Clyde D'Souza - a full-stack software developer. Clyde is currently living in Auckland, New Zealand but is originally from Mumbai, India. Feel free to send him a tweet @ClydeDz">
    <!---Basic styling--->
    <style>
        body{overflow-y:hidden}.website-body{display:none;transition:all .25s;-moz-transition:all.25s;-webkit-transition:all .25s;opacity:0}.website-loading{overflow:hidden;transition:background .25s ease-in-out;-moz-transition:background .25s ease-in-out;-webkit-transition:background .25s ease-in-out}.spinner{width:40px;height:40px}.double-bounce1,.double-bounce2{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:sk-bounce 2s infinite ease-in-out;animation:sk-bounce 2s infinite ease-in-out}.double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes sk-bounce{0%,100%{-webkit-transform:scale(0)}50%{-webkit-transform:scale(1)}}@keyframes sk-bounce{0%,100%{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}
    </style>
    <!-----OpenGraph settings for social sharing------>
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Clyde D'Souza - A full-stack software developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://clydedsouza.net/" />
    <meta property="og:image" content="https://clydedsouza.net/images/clydedsouza-share.jpg" />
    <meta property="fb:admins" content="ClydeDz" />
    <meta property="fb:app_id" content="269712373471582" />
    <meta name="twitter:site" content="ClydeDz">
    <meta name="twitter:creator" content="ClydeDz">
    <meta property="og:description" content="Know more about Clyde D'Souza - a full-stack developer. Clyde is currently living in Auckland, New Zealand but is originally from Mumbai, India. Feel free to send him a tweet @ClydeDz" />
    <link rel="canonical" href="https://clydedsouza.net/">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="https://clydedsouza.net/sitemap.xml">
    <meta name="theme-color" content="#009688">
    <link rel="icon" sizes="192x192" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/clydedsouza-face-icon.png">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-TileImage" content="images/clydedsouza-face-icon.png">
</head>
<body ng-cloak>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = !0; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f) })(window, document, 'script', 'dataLayer', 'GTM-K5RC8T');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5RC8T"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Loading panel -->
    <div class="website-loading" style="background-color:#009688;height:100vh;width:100%;">
        <div style="position:absolute;top:50%;left:50%;">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <!-- Website content -->
    <div ng-controller="IndexController" class="website-body">
        <md-content>
            <md-toolbar class="md-primary gradients">
                <div class="md-toolbar-tools">
                    <img src="images/clydedsouza-2019-animated.gif" class="md-avatar user-avatar" height="65" width="65" alt="Clyde D'Souza photo" onclick="sendGoogleTrackingEvent(websiteCategory.pageNavigation, websiteEvent.click, 'Animated profile picture');" />
                    <h1>
                        <span>Clyde D'Souza</span>
                    </h1>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target" ng-cloak>
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" onclick="sendGoogleTrackingEvent(websiteCategory.share, websiteEvent.click, 'Share button');">
                            <md-tooltip md-direction="left">Share this site</md-tooltip>
                            <md-icon class="mdi mdi-share"></md-icon>
                        </md-button>
                        <md-menu-content width="1" class="md-whiteframe-z3" ng-cloak>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('tweet')">
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-twitter"></md-icon>  </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('fb')">
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-facebook"></md-icon>   </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('linkedin')">
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-linkedin"></md-icon></div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex></div>
                <md-tabs md-selected="globalConfig.tabIndex==0?0:1" md-dynamic-height ng-cloak>
                    <md-tab ng-click="goTo('about')">
                        <div style="min-width:50px">About</div>
                    </md-tab>
                    <md-tab ng-click="goTo('projects')">
                        <div style="min-width:50px">Projects</div>
                    </md-tab>
                </md-tabs>
            </md-toolbar>
        </md-content>
        <div ng-view style="min-height:100px"></div>
        <md-content class="body-bg">
            <div layout="row" layout-align="center center">
                <md-button aria-label="Send me an email" href="mailto:clyde@clydedsouza.net?Subject=Hi%20Clyde%21&amp;Body=Greetings%20Clyde,%20%0D%0DI%20want%20to%20get%20in%20touch%20with%20you.%0D%0DThanks,%20%0D%0DSent%20from%20http%3A%2F%2Fclydedsouza.net" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'Email me');">
                    <md-tooltip md-direction="top">Send me an email</md-tooltip>
                    <md-icon class="mdi mdi-email"></md-icon>
                </md-button>
                <md-button aria-label="Connect with me on LinkedIn" href="https://nz.linkedin.com/in/clydedz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View LinkedIn profile');">
                    <md-tooltip md-direction="top">Connect with me on LinkedIn</md-tooltip>
                    <md-icon class="mdi mdi-linkedin"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on twitter" href="https://www.twitter.com/ClydeDz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View Twitter profile');">
                    <md-tooltip md-direction="top">Follow me on twitter</md-tooltip>
                    <md-icon class="mdi mdi-twitter"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on GitHub" href="https://www.github.com/ClydeDz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View GitHub profile');">
                    <md-tooltip md-direction="top">Follow me on GitHub</md-tooltip>
                    <md-icon class="mdi mdi-github-circle"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on Goodreads" href="http://bit.ly/ClydeDSouzaGoodreads" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View Goodreads profile');">
                    <md-tooltip md-direction="top">Follow me on Goodreads</md-tooltip>
                    <md-icon class="mdi mdi-goodreads"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <p>Website crafted by Clyde D'Souza</p>
            </div>
            <div class="fb-msg-button bounceIn" style="display:none;">
                <md-button aria-label="Send Clyde a message on Facebook" href="https://m.me/clydedz" target="_blank" class="md-fab md-primary" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'Send a message on Facebook');">
                    <md-tooltip md-direction="left">Send Clyde a message</md-tooltip>
                    <md-icon class="mdi mdi-facebook-messenger"></md-icon>
                </md-button>
            </div>
            <div class="footer-block gradients"></div>
        </md-content>
    </div>

    <!-- Remaining scripts and styling -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet" />
    <link href="https://static.clydedsouza.net/css/primarycss-v1.min.css?v=20190401" rel="stylesheet" />
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://static.clydedsouza.net/js/angularmaterial-bundle.js?v=20190401"></script>
    <script src="https://static.clydedsouza.net/js/primaryjs-v2.min.js?v=20190401"></script>
    <script>
        window.onload = (function () { return function () { document.getElementsByClassName('website-body')[0].style.display = 'block'; setTimeout(function () { document.getElementsByClassName('website-loading')[0].style.display = 'none'; document.getElementsByClassName('fb-msg-button')[0].style.display = 'block'; document.getElementsByTagName('body')[0].style.overflowY = 'auto'; setTimeout(loadBody, 500) }, 2000) } })(window.onload);
    </script>
    <!-- Schema.org -->
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Auckland CBD",
        "addressRegion": "Auckland",
        "addressCountry": "New Zealand"
        },
        "givenName":"Clyde D'Souza",
        "gender":"Male",
        "email": "clyde@clydedsouza.net",
        "image": "https://clydedsouza.net/images/clydedsouza-icon-2019.jpg",
        "jobTitle": "A full-stack software developer at Datacom",
        "alumniOf":"AUT University",
        "worksFor":"Datacom Systems Ltd.",
        "jobTitle":"Software Developer",
        "birthPlace":"Mumbai, India",
        "contactPoint":{
        "@type": "PostalAddress",
        "name":"Clyde D'Souza",
        "email":"clyde@clydedsouza.net",
        "url":"https://clydedsouza.net"
        },
        "name": "Clyde D'Souza",
        "url": "https://clydedsouza.net"
        }
    </script>
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://clydedsouza.net/",
        "name" : "Clyde D'Souza",
        "alternateName" : "clydedsouza.net",
        "about":{
        "@type":"Thing",
        "description":"This is Clyde's personal website."
        },
        "author":{
        "@type":"Person",
        "givenName":"Clyde D'Souza",
        "gender":"Male",
        "email": "clyde@clydedsouza.net"
        }
        }
    </script>
</body>
</html>