<html lang="en" ng-app="clyde" ng-controller="GlobalController">
<head>
    <title ng-cloak ng-bind="globalConfig.pageTitle">Clyde D'Souza - A Passionate Front-End Developer</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />    
    <base href="/">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="author" href="http://plus.google.com/u/0/+ClydeDsouzaPlus">
    <meta name="Keywords" content="Clyde D'Souza, @ClydeDz, passionate front end developer, eye for ui, Auckland New Zealand" />
    <meta name="author" content="Clyde D'Souza">
    <meta name="description" content="Know more about Clyde D'Souza - a passionate front end developer with an eye for UI. Clyde is currently living in Auckland, New Zealand but is originally from Mumbai, India. Feel free to send him a tweet @ClydeDz">
    
    <!-----OpenGraph settings for social sharing------>
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Clyde D'Souza" />
    <meta property="og:type" content="personal website" />
    <meta property="og:url" content="http://clydedsouza.net/" />
    <meta property="og:image" content="http://clydedsouza.net/images/clydedsouza-share.jpg" />
    <meta property="og:site_name" content="Clyde D'Souza" />
    <meta property="fb:admins" content="269712373471582" />
    <meta name="twitter:site" content="@ClydeDz">
    <meta name="twitter:creator" content="@ClydeDz">
    <meta property="og:description"  content="Know more about Clyde D'Souza - a passionate front end developer with an eye for UI" />
    <link rel="canonical" href="http://clydedsouza.net/">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="http://clydedsouza.net/sitemap.xml">    
    <meta name="theme-color" content="#009688">
    <link rel="icon" sizes="192x192" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/clydedsouza-face-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/clydedsouza-face-icon.png">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-TileImage" content="images/clydedsouza-face-icon.png">

    <!-- Angular Material style sheet -->
    <!--<link rel="stylesheet" href="css/angular-material.min.css" type="text/css"/>
    <link href="css/theme.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="css/primarycss-v1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">   
    <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K5RC8T');</script>
    <!-- End Google Tag Manager -->   
</head>
<body ng-cloak>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5RC8T"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div ng-controller="IndexController">
        <md-content>
            <md-toolbar class="md-primary gradients">
                <div class="md-toolbar-tools">
                    <img src="images/clydedsouza-face-icon.png" class="md-avatar user-avatar" height="65" width="65" alt="Clyde D'Souza icon photo'" />
                    <h2>                        
                        <span>Clyde D'Souza</span>
                    </h2>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target" ng-cloak>
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-tooltip md-direction="left">Share this site</md-tooltip>
                            <md-icon class="mdi mdi-share"></md-icon>
                        </md-button>
                        <md-menu-content width="1" class="md-whiteframe-z3" ng-cloak>
                            <md-menu-item >
                                <md-button aria-label="Share on twitter"  ng-click="share('tweet')">                                  
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-twitter"></md-icon>  </div>                                  
                                </md-button>
                            </md-menu-item>
                            <md-menu-item  >
                                <md-button aria-label="Share on twitter" ng-click="share('fb')">                                
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-facebook"></md-icon>   </div>                                 
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="Share on twitter" ng-click="share('google')">
                                    <div layout="row" layout-align="center center">
                                        <md-icon md-menu-origin class="mdi mdi-google-plus"></md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item >
                                <md-button aria-label="Share on twitter" ng-click="share('linkedin')">
                                    <div layout="row" layout-align="center center"> <md-icon md-menu-origin class="mdi mdi-linkedin"></md-icon></div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>  
                <div flex></div>               
                <md-tabs md-selected="globalConfig.tabIndex==0?0:1" md-dynamic-height ng-cloak>
                    <md-tab ng-click="goTo('about')">
                        About
                    </md-tab>
                    <md-tab ng-click="goTo('projects')">
                        Projects
                    </md-tab>
                 </md-tabs>                          
            </md-toolbar>
        </md-content>
        <div ng-view></div>
        <md-content class="body-bg">
            <div layout="row" layout-align="center center">
                <md-button aria-label="Send me an email" href="mailto:clyde@clydedsouza.net?Subject=Hi%20Clyde%21&amp;Body=Greetings%20Clyde,%20%0D%0DI%20want%20to%20get%20in%20touch%20with%20you.%0D%0DThanks,%20%0D%0DSent%20from%20http%3A%2F%2Fclydedsouza.net" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Send me an email</md-tooltip>
                    <md-icon class="mdi mdi-email"></md-icon>
                </md-button>
                <md-button aria-label="Connect with me on LinkedIn" href="https://nz.linkedin.com/in/clydedz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Connect with me on LinkedIn</md-tooltip>
                    <md-icon class="mdi mdi-linkedin"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on twitter" href="http://www.twitter.com/ClydeDz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Follow me on twitter</md-tooltip>
                    <md-icon class="mdi mdi-twitter"></md-icon>
                </md-button>
                <md-button aria-label="Follow me on GitHub" href="http://www.github.com/ClydeDz" target="_blank" class="md-icon-button launch">
                    <md-tooltip md-direction="top">Follow me on GitHub</md-tooltip>
                    <md-icon class="mdi mdi-github-circle"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <p>Website crafted by Clyde D'Souza</p>
            </div>
            <div class="fb-msg-button">
                <md-button aria-label="Send me a message on Facebook" href="https://m.me/clydedz" target="_blank" class="md-fab md-primary">
                    <md-tooltip md-direction="left">Send me a message</md-tooltip>
                    <md-icon class="mdi mdi-facebook-messenger"></md-icon>
                </md-button>
            </div>
            <div class="footer-block gradients"></div>
        </md-content>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/angularmaterial-bundle.js"></script>
    <script src="js/primaryjs-v1.min.js"></script>
    <!--<script src="js/angular.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js" type="text/javascript"></script>-->
    <!--<script src="js/angular-material.min.js" type="text/javascript"></script>
    <script src="js/app.min.js" type="text/javascript"></script>-->
    <!-- Schema.org -->
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Auckland CBD",
        "addressRegion": "Auckland",
        "addressCountry": "New Zealand"
        },
        "givenName":"Clyde D'Souza",
        "gender":"Male",
        "email": "mailto:clyde@clydedsouza.net",
        "image": "http://clydedsouza.net/images/clydedsouza.jpg",
        "jobTitle": "Passionate front end and UI developer",
        "alumniOf":"AUT University",
        "worksFor":"Datacom Systems Ltd.",
        "jobTitle":"Software Developer",
        "birthPlace":"Mumbai, India",
        "contactPoint":"@ClydeDz",
        "name": "Clyde D'Souza",
        "telephone": "",
        "url": "http://clydedsouza.net"
        }
    </script>
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "http://clydedsouza.net/",
        "name" : "Clyde D'Souza",
        "alternateName" : "clydedsouza.net",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "http://clydedsouza.net/",
        "query-input": "required"
        }
        }
    </script>
</body>
</html>