<!--About loading panel-->
<div id="aboutLoading">
    <div style="position:absolute;top:50%;left:50%;">
        <div class="spinner">
            <div class="double-bounce1" style="background-color: #009688;"></div>
            <div class="double-bounce2" style="background-color: #009688;"></div>
        </div>
    </div>
</div>
<!--About content panel-->
<div md-swipe-left="onSwipeLeft('about')" class="body-bg" ng-cloak style="opacity:0" id="aboutPage">
    <br />
    <!-- Row 1 -->
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <img src="images/clydedsouza-icon-2019.jpg" class="md-user-avatar" alt="Clyde D'Souza profile photo" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Clyde D'Souza</span>
                    <span class="md-subhead">Full-stack software developer</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>Clyde is a creative, self-driven person who loves building software. In his spare time, he likes to explore other interests like creative writing and graphic designing.</p>
            </md-card-content>
            <md-card-actions layout="row">
                <md-card-icon-actions layout-align="end end">
                    <md-button aria-label="Send me an email" href="mailto:clyde@clydedsouza.net?Subject=Hi%20Clyde%21&amp;Body=Greetings%20Clyde,%20%0D%0DI%20want%20to%20get%20in%20touch%20with%20you.%0D%0DThanks,%20%0D%0DSent%20from%20http%3A%2F%2Fclydedsouza.net" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'Send an email');">
                        <md-tooltip md-direction="top">Send me an email</md-tooltip>
                        <md-icon class="mdi mdi-email"></md-icon>
                    </md-button>
                    <md-button aria-label="Connect with me on LinkedIn" href="https://nz.linkedin.com/in/clydedz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View LinkedIn profile');">
                        <md-tooltip md-direction="top">Connect with me on LinkedIn</md-tooltip>
                        <md-icon class="mdi mdi-linkedin"></md-icon>
                    </md-button>
                    <md-button aria-label="Follow me on twitter" href="https://www.twitter.com/ClydeDz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View Twitter profile');">
                        <md-tooltip md-direction="top">Follow me on twitter</md-tooltip>
                        <md-icon class="mdi mdi-twitter"></md-icon>
                    </md-button>
                    <md-button aria-label="Follow me on GitHub" href="https://www.github.com/ClydeDz" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View GitHub profile');">
                        <md-tooltip md-direction="top">Follow me on GitHub</md-tooltip>
                        <md-icon class="mdi mdi-github-circle"></md-icon>
                    </md-button>
                    <md-button aria-label="Follow me on Goodreads" href="http://bit.ly/ClydeDSouzaGoodreads" target="_blank" class="md-icon-button launch" onclick="sendGoogleTrackingEvent(websiteCategory.contact, websiteEvent.click, 'View Goodreads profile');">
                        <md-tooltip md-direction="top">Follow me on Goodreads</md-tooltip>
                        <md-icon class="mdi mdi-goodreads"></md-icon>
                    </md-button>
                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-briefcase cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Work experience</span>
                    <span class="md-subhead">Software Developer at Datacom</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>
                    Clyde currently works as a software developer at <md-button class="md-primary" ng-href="https://www.datacom.co.nz?ref=clydedsouza" target="_blank">Datacom</md-button>.
                    Previously, he has worked at <md-button class="md-primary" ng-href="https://www.heritagehotels.co.nz?ref=clydedsouza" target="_blank">Heritage Hotels</md-button> as a part-time administrative assistant and volunteered at <md-button ng-href="https://hwa.org.nz/?ref=clydedsouza" class="md-primary" target="_blank">Hospice West Auckland</md-button>.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <!-- Row 2 -->
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-alert-decagram cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">What's new?</span>
                    <span class="md-subhead">Stay in the loop with the latest updates</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>Clyde has recently published a book titled <i>Mama, tell me a story</i> on <md-button ng-href="http://bit.ly/MamaTellMeAStory" class="md-primary" target="_blank">Amazon</md-button>. It's a collection of twelve short bedtime stories that parents will love reading to their kids over and over again. Go buy it now!</p>
            </md-card-content>
        </md-card>

        <md-card flex-xs="99" flex-gt-xs="40" flex-order-xs="1" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-school cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Education</span>
                    <span class="md-subhead">Auckland University of Technology, 2015</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>
                    Clyde is an alumnus of <md-button class="md-primary" ng-href="https://www.aut.ac.nz/?ref=clydedsouza" target="_blank">Auckland University of Technology (AUT)</md-button> with a Postgraduate Diploma in Computer and Information Sciences and holds a Bachelor of Science degree specializing in Information Technology from University of Mumbai, India.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <!-- Row 3 -->
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">

        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-heart cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Other initiatives</span>
                    <span class="md-subhead">Giving back to the community</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>Clyde was the event director of a non-profit educational event called Light &amp; Spark NPO. He conceptualized and executed this event in Mumbai. Read more about it <md-button class="md-primary" ng-href="https://lightandsparknpo-web-prod.azurewebsites.net/mumbai-2018/" target="_blank">here</md-button>.</p>
            </md-card-content>
        </md-card>

        <md-card flex-xs="99" flex-gt-xs="40" flex-order-xs="2" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-map-marker cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Location</span>
                    <span class="md-subhead">Auckland, New Zealand</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>Clyde moved to Auckland, NZ in February 2015 to pursue his higher education and gain global exposure. He is originally from Mumbai, India.</p>
            </md-card-content>
        </md-card>
    </div>
    <br />
</div>