<div md-swipe-left="onSwipeLeft('about')" class="body-bg" ng-cloak>
    <br />
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <img src="images/clydedsouza.jpg" class="md-user-avatar" alt="Clyde D'Souza profile photo" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Clyde D'Souza</span>
                    <span class="md-subhead">A passionate front-end developer</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>My aim is to gain experience and expertise in my field of study and excel in it with the help of my determination and motivation that keeps me going at my best.</p>
            </md-card-content>
            <md-card-actions layout="row">
                <md-card-icon-actions  layout-align="end end">
                    <md-button aria-label="Send me an email" href="mailto:clydedsouza@outlook.com?Subject=Hi%20Clyde%21&amp;Body=Greetings%20Clyde,%20%0D%0DI%20want%20to%20get%20in%20touch%20with%20you.%0D%0DThanks,%20%0D%0DSent%20from%20http%3A%2F%2Fwww.clyde.nz" target="_blank" class="md-icon-button launch">
                        <md-tooltip md-direction="top">Send me an email</md-tooltip>
                        <md-icon class="mdi mdi-email"></md-icon>
                    </md-button>
                    <md-button aria-label="Connect with me on LinkedIn" href="https://nz.linkedin.com/in/clydedz" target="_blank" class="md-icon-button launch">
                        <md-tooltip md-direction="top">Connect with me on LinkedIn</md-tooltip>
                        <md-icon class="mdi mdi-linkedin"></md-icon>
                    </md-button>
                    <md-button aria-label="Follow me on twitter" href="http://www.twitter.com/ClydeDz" target="_blank" class="md-icon-button launch">
                        <md-tooltip md-direction="top">Follow me on twitter</md-tooltip>
                        <md-icon class="mdi mdi-twitter"></md-icon>
                    </md-button>
                    <md-button aria-label="Follow me on GitHub" href="http://www.github.com/ClydeDz" target="_blank" class="md-icon-button launch">
                        <md-tooltip md-direction="top">Follow me on GitHub</md-tooltip>
                        <md-icon class="mdi mdi-github-circle"></md-icon>
                    </md-button>
                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-briefcase cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Work experience</span>
                    <span class="md-subhead">Software Developer at Datacom</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>I am currently working as a software developer at <md-button class="md-primary" ng-href="http://www.datacom.co.nz" target="_blank">Datacom</md-button>. Previously, I have worked with <md-button class="md-primary" ng-href="http://www.heritagehotels.co.nz" target="_blank">Heritage Hotels</md-button> as a part-time administrative assistant.</p>
            </md-card-content>
        </md-card>
    </div>
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <md-card flex-xs="99" flex-gt-xs="40" flex-order-xs="2" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-map-marker cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Location</span>
                    <span class="md-subhead">Auckland, New Zealand</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>To pursue my higher education and gain global exposure, I moved to Auckland, NZ in February 2015. Originally, I am from Mumbai, India.</p>
            </md-card-content>
        </md-card>
        <md-card flex-xs="99" flex-gt-xs="40" flex-order-xs="1" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-school cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Education</span>
                    <span class="md-subhead">AUT University alumni - 2015</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>I completed a Postgraduate Diploma in Computer and Information Sciences from <md-button class="md-primary" ng-href="http://www.aut.ac.nz/" target="_blank">AUT University</md-button> in December 2015. Prior to that I did my Bachelor of Science (Information Technology) from Mumbai University in India.</p>
            </md-card-content>
        </md-card>
    </div>
    <!------->
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">

        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-heart cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Volunteer experience</span>
                    <span class="md-subhead">Volunteered at Hospice West Auckland</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>I have had this wonderful opportunity to volunteer at <md-button ng-href="http://hwa.org.nz/" class="md-primary" target="_blank">Hospice West Auckland</md-button> for nearly four months. I also attend hackathon weekends which are conducted to help charitable organisations with their IT needs.</p>
            </md-card-content>
        </md-card>

        <md-card flex-xs="99" flex-gt-xs="40" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="mdi mdi-coffee cd-card-avatar"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Leisure activities</span>
                    <span class="md-subhead">Pick of the day!</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>I like doing different activities on a rotational basis and during my leisure time I have socialized, blogged, played soccer, sketched, learned and experimented with new frameworks, travelled and desgined. I also have and love to host events.</p>
            </md-card-content>
        </md-card>

    </div>
    <br />
</div>