<div md-swipe-right="onSwipeRight('projects')" ng-cloak ng-controller="ProjectsController">
    <div class='md-padding body-bg' layout="row" layout-align="center start" layout-wrap>
        <md-card flex-xs="99" flex-gt-xs="80">
            <md-card-header>
                <md-card-avatar>
                    <img src="../images/clydedsouza.jpg" class="md-user-avatar" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Clyde D'Souza</span>
                    <span class="md-subhead">clydedsouza@outlook.com</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-linkedin"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-twitter"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-github"></md-icon>
                </md-button>
                </md-card-icon-actions>
            </md-card-actions>
            <md-card-content class="md-padding">
                <p>Hi. I am Clyde D'Souza. I live in Auckland, New Zealand but originally from Thane, Mumbai. I have completed my graduation in information technology from University of Mumbai and a postgraduate diploma in computer and information sciences from AUT University, Auckland, New Zealand and currently interning at Datacom. My aim is to gain practical knowledge in my field of study and excel in it with the help of my determination and motivation that keeps me going at my best.</p>
                <p>Particularly, I have an inclination towards web development and possess the required technical skills. Along with that I also have good communication skills and leadership skills. I generally take up some self-thought projects where I can explore and learn the language and strive hard to bring the desired output. And in-fact, I already had this wonderful opportunity of designing and developing a website for the BMS departments' annual fest Inspira which went live in August 2012. Here, in New Zealand, I have also been a part of various hackathon's developing WordPress websites for charitable organisations. I have also developed a Windows Store App called 'Kiwi Sports'. <a href="projects.html">[Read More: Projects]</a></p>
                <p>Furthermore, I have been a compere at various events held in college including the annual fest Spectrum. I really enjoy that on-stage life and that has added a great deal of confidence within me. I also love talking to people and understanding their perspective towards life. Moreover, I have contributed my articles as well as designed magazine covers for Our Lady of Mercy Church, Thane parish bulletin. I also write some refreshing content on my blog <a href="http://www.iamclyde.blogspot.in/" target="_blank" alt="Visit my blog Creative center" title="Visit my blog">Creative Center</a>. And offlate, I have been sketching too.</p>
                <p><md-button><md-icon class="material-icons">file_download</md-icon> Download my resume</md-button></p>
            </md-card-content>
        </md-card>
    </div>
</div>