<div md-swipe-right="onSwipeRight('projects')" class="body-bg" ng-cloak ng-controller="ProjectsController">
    <br />
    <div  layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <md-card flex-xs="95" flex-gt-xs="35" class="cd-card-teal">
            <md-card-header>
                <md-card-avatar>
                    <img src="../images/clydedsouza.jpg" class="md-user-avatar" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Clyde D'Souza</span>
                    <span class="md-subhead">clydedsouza@outlook.com</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>My aim is to gain experience and expertise in my field of study and excel in it with the help of my determination and motivation that keeps me going at my best.</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-card-icon-actions>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-linkedin"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-twitter"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-github"></md-icon>
                </md-button>
                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
        <md-card flex-xs="95" flex-gt-xs="35" class="cd-card-yellow">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons cd-card-avatar">work</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Work Experience</span>
                    <span class="md-subhead">Currently an intern at Datacom</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding cd-content">
                <p>Currently, I am working as a software developer intern at <md-button class="md-primary" ng-href="http://www.datacom.co.nz" target="_blank">Datacom</md-button>. Previously, I have worked with <md-button class="md-primary" ng-href="http://www.heritagehotes.co.nz" target="_blank">Heritage Hotels</md-button> as a part-time administrative assistant</p>
            </md-card-content>
        </md-card>
    </div>
    <div  layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <div flex-xs="95" flex-gt-xs="35">
            <md-card  class="cd-card-yellow">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="material-icons cd-card-avatar">school</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Education</span>
                        <span class="md-subhead">AUT University alumni - 2015</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="md-padding cd-content">
                    <p>I completed a Postgraduate Diploma in Computer and Information Sciences from AUT University in December 2015. Prior to that I did my Bachelor's of Science (Information Technology) in India</p>
                </md-card-content>
            </md-card>
        </div>
        <div flex-xs="95" flex-gt-xs="35" >
            <md-card class="cd-card-teal">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="material-icons cd-card-avatar">place</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Location</span>
                        <span class="md-subhead">Auckland, New Zealand</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="md-padding cd-content">
                    <p>To pursue my higher education and gain global exposure, I moved to Auckland, NZ in February 2015. Originally, I am from Thane, Mumbai.</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!------->
    <div layout-xs="column" layout-gt-xs="row" layout-align="center start">
        <div flex-xs="95" flex-gt-xs="35">
            <md-card class="cd-card-teal">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="material-icons cd-card-avatar">favorite</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Volunteer experience</span>
                        <span class="md-subhead">Volunteered at Hospice West Auckland</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="md-padding cd-content">
                    <p>I have had this wonderful opportunity to volunteer at Hospice West Auckland for nearly four months. I also attend hackathon weekends which are conducted to help charitable organisations with their IT needs.</p>
                </md-card-content>
            </md-card>
        </div>
        <div flex-xs="95" flex-gt-xs="35">
            <md-card class="cd-card-yellow">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="material-icons cd-card-avatar">local_cafe</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Leisure activities</span>
                        <span class="md-subhead">Pick of the day!</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content class="md-padding cd-content">
                    <p>I like doing different activities on a rotational basis and during my leisure time I have socialized, blogged, played soccer, sketched, learned and experimented with new frameworks, travelled and desgined. I also have and love to host events.</p>
                </md-card-content>
            </md-card>
        </div>       
    </div>
    <br />
</div>