<div md-swipe-right="onSwipeRight('projects')" ng-cloak ng-controller="ProjectsController">
    <div class='md-padding body-bg' layout="row" layout-align="center start" layout-wrap>
        <md-card flex-xs="95" flex-gt-xs="80">
            <md-card-header>
                <md-card-avatar>
                    <img src="../images/clydedsouza.jpg" class="md-user-avatar" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Clyde D'Souza</span>
                    <span class="md-subhead">clydedsouza@outlook.com</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding">
                <p>Currently, I am working as an intern at Datacom. Previously, I have worked with Heritage Hotels as a part-time administrative assistant</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start end">
                <md-card-icon-actions>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-linkedin"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-twitter"></md-icon>
                </md-button>
                <md-button href="http://www.twitter.com/ClydeDz" title="Follow Clyde D'Souza on Twitter" target="_blank" class="md-icon-button launch">
                    <md-icon class="ion-social-github"></md-icon>
                </md-button>
                </md-card-icon-actions>
            </md-card-actions>
        </md-card>
        <md-card flex-xs="95" flex-gt-xs="80">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons">work</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Work</span>
                    <span class="md-subhead">Currently an intern at Datacom</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding">
                <p>Currently, I am working as an intern at Datacom. Previously, I have worked with Heritage Hotels as a part-time administrative assistant</p>
            </md-card-content>
        </md-card>
        <md-card flex-xs="95" flex-gt-xs="80">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons">work</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Work</span>
                    <span class="md-subhead">Currently an intern at Datacom</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="md-padding">
                <p>Currently, I am working as an intern at Datacom. Previously, I have worked with Heritage Hotels as a part-time administrative assistant</p>
            </md-card-content>
        </md-card>
    </div>
</div>