<!--Projects loading panel-->
<div id="projectsLoading">
    <div style="position:absolute;top:50%;left:50%;">
        <div class="spinner">
            <div class="double-bounce1" style="background-color: #009688;"></div>
            <div class="double-bounce2" style="background-color: #009688;"></div>
        </div>
    </div>
</div>
<!--Projects content panel-->
<div md-swipe-right="onSwipeRight('projects')" ng-cloak style="opacity:0" id="projectsPage">
    <div class='md-padding body-bg' layout="row" layout-align="center start" layout-wrap>
        <md-card flex-xs="99" flex-gt-xs="33" ng-repeat="docs in projects" ng-class-odd="'cd-card-teal'" ng-class-even="'cd-card-yellow'">
            <md-card-header>
                <md-card-avatar>
                    <img ng-src="{{docs.icon}}" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{docs.title}}</span>
                    <span class="md-subhead">{{docs.date}}</span>
                </md-card-header-text>
            </md-card-header>
            <div layout="row" layout-align="center center"><img ng-src="{{docs.image}}" class="md-card-image" width="240" height="240" alt="{{docs.imageDescription}}" /></div>
            <md-card-content class="cd-content"> 
                <div layout="row" layout-align="start start">
                    <p><md-tooltip md-direction="top">Category</md-tooltip><md-icon class="mdi mdi-label"></md-icon> {{docs.category}}</p>
                </div>
                <!--Description block-->
                <div class="card-description" id="{{$index}}" ng-show="isDesktop?isDesktop:ccindex == $index">
                    <p>{{docs.description}}</p>
                    <p>
                        Made using:
                        <div ng-repeat="lang in docs.languages">
                            <span class="cd-chip">{{lang}}</span>
                        </div>
                    </p>
                </div>                              
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center" ng-class="isDesktop? 'spaceless-actions':(ccindex==$index? 'space-actions': 'nospace-actions')">
                <md-card-icon-actions layout-align="end center">
                    <div ng-show="docs.hasWebsite || docs.onGithub">
                        <md-button ng-href="{{docs.website}}" target="_blank" rel="nofollow" class="md-icon-button" aria-label="Website" ng-show="{{docs.hasWebsite}}" ng-click="navigateProjectWebsite(docs.title)">
                            <md-tooltip md-direction="top">View this project on the web</md-tooltip>
                            <md-icon class="mdi mdi-earth"></md-icon>
                        </md-button>
                        <md-button ng-href="{{docs.github}}" target="_blank" rel="nofollow" class="md-icon-button" aria-label="GitHub" ng-show="{{docs.onGithub}}" ng-click="navigateProjectGitHub(docs.title)">
                            <md-tooltip md-direction="top">View this project on GitHub</md-tooltip>
                            <md-icon class="mdi mdi-github-circle"></md-icon>
                        </md-button>
                    </div>
                    <md-button class="md-icon-button" aria-label="toggle" ng-click="toggleDescriptionVisibility($index)" ng-hide="isDesktop">
                        <md-tooltip md-direction="top">{{ ccindex==$index? "Less":"More"}}</md-tooltip>
                        <md-icon ng-class="ccindex==$index? 'mdi mdi-chevron-up': 'mdi mdi-chevron-down'"></md-icon>
                    </md-button>
                </md-card-icon-actions>
            </md-card-actions>         
        </md-card>
    </div>
</div>