<div class='url-mapping-message md-padding body-bg' layout="row" layout-align="center start" layout-wrap ng-show="urlFlag" ng-cloak>
    <div>
        <div class='md-padding body-bg' layout="row" layout-align="center start" layout-wrap>
            <i class="material-icons">autorenew</i>
        </div>
        <br />
        <p>Redirecting you to the site you requested...</p>
    </div>
</div>
<div class='md-padding body-bg url-mapping-message' layout="row" layout-align="center start" layout-wrap ng-hide="urlFlag" ng-cloak>
    <div>
        <div class='md-padding body-bg' layout="row" layout-align="center start" layout-wrap>
            <i class="material-icons">warning</i>
        </div>
        <p>There were some issues in redirecting you to the site you requested. This may happen due to the following:<p>
        <ul style="list-style-type:decimal-leading-zero">
            <li>The short url entered either doesn't exist anymore or is misspelled.</li>
            <li>There could be some technical errors in retrieving the site itself which is currently unknown.</li>
        </ul>
        <p>Please give it a try once again after some time.</p>
        <md-button class="md-primary" href="#/" title="Back to clyde.nz"><i class="material-icons">arrow_back</i>&nbsp; Back to clyde.nz</md-button>
    </div>
</div>