
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Questrial');


$primary-accent: #009688;
$contrast-accent: #ffeb3bc7;
$gradient-start: #009688;
$gradient-end: #10984b;

$bg-color: #fff;
$text-color: rgba(10, 10, 10, 0.6);
$blog-gray-color: rgba(10, 10, 10, 0.6);
$background-image: linear-gradient(155deg, rgba(0, 150, 136, 0.8784313725490196), rgba(16, 152, 75, 0.9411764705882353)), url("../images/clydedsouza-blur.jpg");
$background-background: linear-gradient(0deg, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0.6)), url("../images/clydedsouza-blur.jpg") center center fixed;
$height: 50vh;

@media (max-width: 800px) {
    :root {
        $background-image: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 1)), url("../images/clydedsouza-blur.jpg");
    }
}