@import "../abstract/variables";


footer {
    width: 100%;
    padding: 8vh 0px;
    text-align: center;

    a {
        color: $text-color !important;
        text-decoration: none;
        font: {
            family: 'Questrial', sans-serif;
            weight: bold;
        }
    }
}

