@import "../abstract/variables";

.cookie-notice {
    padding: 10px 6px 0 6px;
    color: white;
    background: $background-gradient;
    background-color: $primary-accent;
    position: -webkit-sticky;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

footer {
    width: 100%;
    padding: 9px 0 18px 0;
    text-align: center;

    a {
        color: $text-color !important;
        text-decoration: none;

        font: {
            family: 'Questrial', sans-serif;
            weight: bold;
        }
    }

    .footer-highlights {
        background-color: rgba($contrast-accent, 0.1);
        border-radius: 6px;
        padding: 9px 6px 3px 13px;
        display: none;
        margin: 0 0 9px 0;

        a {
            text-decoration: none;
            transition: all 0.2s linear 0.2s;
            border-bottom: 0;

            &:hover, &:focus {
                opacity: 0.8;
                border-bottom: 1px dashed $blog-gray-color;
            }
        }

        @include for-tablets-down {
            display: block;
        }
    }
}

.fb-msg-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    a {
        background: $background-gradient {
            size: cover;
            repeat: no-repeat;
        }

        padding: 19px 13px 17px 13px;
        border-radius: 120px;

        i {
            color: white;
            font-size: 29px;
            vertical-align: sub;
        }
    }
}

