@import "../abstract/variables";

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    background: $bg-color;
    color: $text-color;
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

h1, h2, h3 {
    color: $primary-accent;
    font-family: 'Roboto',sans-serif;
}

h1 {
    font-family: 'Dosis','Roboto',sans-serif;
}



#display {
    width: 101vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: inline-block; 
    padding-left: 30.5vw;
}

#display h1 {
    font-size: 50px;
    color: $text-color;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}

.emoji {
    width: 18px;
    height: 18px;
}

 
 
#background {
    width: 100vw;
    height: 55vh;
    background: $background-background;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    margin-top: -10vh;
}
 

.bottom_section {
    margin: 1vh 0px;
    font-size: 14px;
    word-wrap: break-word;
}

.bottom_section span {
    margin-right: 20px;
    font-weight: bold;
}

.bottom_section span i {
    font-size: 15px;
}


.go_back {
    position: absolute;
    color: white;
    font-size: 26px;
    margin-left: 5vw;
    margin-top: 4vh;
}

::selection {
    color: $bg-color;
    background: $text-color;
}

@media (max-width: 800px) {
 
    #display {
        width: 100vw;
        padding: 4vh 5vw;
        height: auto;
        display: inline-block;
        padding-left: 5vw;
    } 

    #work {
        margin: 0px;
    }

    .projects {
        columns: 1;
    }

    .projects section {
        width: 88%;
    }

  
}

#display h1 {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(10, 10, 10, 0.6);
}

 