@import "../abstract/variables";

nav {
    text-align: center;

    a {
        color: $primary-accent;
        margin-left: 18px;
        padding: 9px 18px;
        border-radius: 30px;
        cursor: pointer;
        background-color: #f9f9f9;

        &:hover, &.active {
            background-color: $contrast-accent;
            text-decoration: none;
            color: $primary-accent;
        }
    }
}