@import "../abstract/variables";

#blog_section {
    margin: 2vh 0px;
    padding: 2vh 0px !important;
}


#blogs {
    section {
        width: 45%;
        display: inline-block;
        border-radius: 5px;
        color: $bg-color;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.4s ease-in-out;
        transform: scale(1);
        padding: 0px;
        margin: 2vh 1vw 2vh 0;
        background: rgb(20, 20, 20);


        &:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.06);
            transform: scale(1.03);
        }

        img.cover {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }

        .blog_metacontainer_contents, .blog_container {
            position: relative;
        }


        .blog_metacontainer {
            background-image: url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1450");
            background-color: #000000;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(0,0,0,0.7);
            }

            div {
                z-index: 99999;
            }

            img {
                border-radius: 60px;
            }
        }

        .blog_container {
            padding: 2.5vh 5%;
        }
    }
}
 
 

@media (max-width: 800px) {
    #blog_section {
        margin: 0px;
    }
    
    #blogs {
        columns: 1;

        section {
            width: 98%;
        }
    } 
}
