@import "../abstract/variables";

#pinnedProjects {
    margin: 9px 0;
    padding: 2px 0;

    @include for-mobiles-down {
        margin: 0px;
    }

    @include for-tablets-up {
        margin: 0px;
    }
}


#pinnedProjectsList {
    @include for-mobiles-down {
        columns: 1;
    }

    section {
        width: 45%;
        display: inline-block;
        border-radius: 5px;
        color: $bg-color;
        border: 1px solid rgba(0, 0, 0, 0.04);
        transition: 0.4s ease-in-out;
        transform: scale(1);
        padding: 0px;
        margin: 2vh 1.5vw 2vh 0;
        background: $background-gradient;
        vertical-align: top;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


        @include for-mobiles-down {
            width: 99%;
        }

        @include for-tablets-up {
            width: 46%;
        }

        &:hover {
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            transform: scale(1.03);
        }

        img.cover {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }

        .project-header-contents, .project-body {
            position: relative;
        }

        .project-header {
            background-color: $primary-accent;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 181px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: -11px;
            width: 100.50%;
            margin-left: -1px;

            @include for-mobiles-down {
                width: 100.6%;
            }

            @include for-desktop-up {
                min-height: 140px;
            }

            div:nth-of-type(1) {
                position: relative;
                left: -6px;
                top: 7px;
            }

            label {
                background-color: $contrast-accent;
                padding: 3px 7px;
                color: $primary-accent;
                text-transform: uppercase;
                font-size: x-small;
                letter-spacing: 2px;
                font-weight: bold;
                margin-bottom: 6px;
                float: left;
                display: block;
                clear: both;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            div {
                z-index: 99999;
            }
        }

        .project-header-contents {
            div {
                font-size: 20px;
                margin: 10px;
            }
        }

        .project-body {
            padding: 0 9px;

            h3 {
                color: white;
                -webkit-text-fill-color: #fff;
                font-size: 22px;
                font-weight: normal;
                margin: 18px 0 9px 0;
            }

            p {
                font-size: small;
            }

            p > label {
                background-color: #ffffff30;
                color: white;
                padding: 1px 9px;
                border-radius: 10px;
                display: inline-block;
                margin: 9px 0 0 0;
                font-weight: 100;
            }

            div:last-child {
                margin-bottom: 9px;

                div.col-xs-6.text-left {
                    padding-left: 0;

                    a {
                        cursor: pointer;
                        color: white;
                        padding: 6px 16px 6px 0px;
                        border-radius: 6px;
                        display: inline-block;
                        margin: 2px 0 0 0;
                        text-decoration: none;

                        &:hover, &:focus {
                            background-color: #ffffff30;
                            padding: 6px 16px;
                            border-bottom: none;
                        }
                    }
                }


                div.col-xs-6.text-right {
                    padding-right: 0;

                    a {
                        text-decoration: none;
                        
                        &:hover, &:focus {
                            border-bottom: none;
                        }
                    }

                    i.material-icons {
                        font-size: 24px;
                        margin-left: 9px;
                        color: white;
                    }
                }
            }
        }
    }
}


