@import "../abstract/variables";

#pinnedProjects {
    margin: 2vh 0px;
    padding: 2vh 0px !important;
}


#pinnedProjectsList {
    section {
        width: 45%;
        display: inline-block;
        border-radius: 5px;
        color: $bg-color;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.4s ease-in-out;
        transform: scale(1);
        padding: 0px;
        margin: 2vh 1.5vw 2vh 0;
        background: $background-gradient;
        vertical-align: top;


        &:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.06);
            transform: scale(1.03);
        }

        img.cover {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }

        .project-header-contents, .project-body {
            position: relative;
        }


        .project-header {
            background-color: $primary-accent;
            background-size: contain;
            min-height: 240px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: -1px;
            width: 100.50%;
            margin-left: -1px;

            label {
                background-color: $contrast-accent;
                padding: 3px 6px;
                color: $primary-accent;
                text-transform: uppercase;
                font-size: x-small;
                letter-spacing: 2px;
                position: relative;
                left: -11px;
                top: 7px;
                font-weight: bold;
            }

            div {
                z-index: 99999;
            }
        }

        .project-header-contents {
            &:before {
                /*content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: $primary-accent-transparent; //rgba(0,0,0,0.7);
                z-index: -1;*/
            }

            div {
                font-size: 20px;
                margin: 10px;
            }
        }

        .project-body {
            padding: 0 9px;

            h3 {
                color: white;
                font-size: 22px;
                font-weight: bold;
                margin: 18px 0;
                margin-block-end: 0;
            }

            p {
                font-size: small;
            }

            div:last-child {
                text-align: right;
                margin-bottom: 9px;

                i.material-icons {
                    font-size: 24px;
                    margin-left: 9px;
                    color: white;
                }
            }


            .section_title {
                margin: 1vh 0px;
                word-wrap: break-word;
            }

            .about_section {
                font-size: 18px;
                font-family: 'Questrial', sans-serif;
                margin: 2vh 0px;
                font-weight: bold;
                word-wrap: break-word;
            }
        }
    }
}
 
 

@media (max-width: 800px) {
    #pinnedProjects {
        margin: 0px;
    }
    
    #pinnedProjectsList {
        columns: 1;

        section {
            width: 98%;
        }
    } 
}
