@import "../abstract/variables";

#pinnedProjects {
    margin: 2vh 0px;
    padding: 2vh 0px !important;
}


#pinnedProjectsList {
    section {
        width: 48%;
        display: inline-block;
        border-radius: 5px;
        color: $bg-color;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.4s ease-in-out;
        transform: scale(1);
        padding: 0px;
        margin: 2vh 1vw 2vh 0;
        background: $background-gradient;


        &:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.06);
            transform: scale(1.03);
        }

        img.cover {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
        }

        .project-header-contents, .project-body {
            position: relative;
        }


        .project-header {
            background-image: url("../images/projects/ddnp.png");
            background-color: $primary-accent;
            background-size: cover;



            div {
                z-index: 99999;
            }

            img {
                border-radius: 60px;
                margin: 10px;
            }
        }

        .project-header-contents {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: $primary-accent-transparent; //rgba(0,0,0,0.7);
                z-index: -1;
            }

            div {
                font-size: 20px;
                margin: 10px;
            }
        }

        .project-body {
            padding: 0 9px;


            .section_title {
                margin: 1vh 0px;
                word-wrap: break-word;
            }

            .about_section {
                font-size: 18px;
                font-family: 'Questrial', sans-serif;
                margin: 2vh 0px;
                font-weight: bold;
                word-wrap: break-word;
            }
        }
    } 
}
 
 

@media (max-width: 800px) {
    #pinnedProjects {
        margin: 0px;
    }
    
    #pinnedProjectsList {
        columns: 1;

        section {
            width: 98%;
        }
    } 
}
