@import "../abstract/variables";

#sidebar {
    width: 22vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    background: $background-image {
        size: cover !important;
        repeat: no-repeat;
    }

    position: fixed;
    color: #fff !important;

    margin- {
        left: 0;
    }


    h1 {
        color: white;
        margin: 4px 0;
        font-weight: bold;
    }

    div {
        font-weight: bold;
        margin: 1.5vh 0px;
    }


    .sidebar-background {
        width: 180px;
        height: 180px;
        border-radius: 120px;
        background-size: cover !important;
        border: 6px solid $contrast-accent;
    }

    .sidebar-tagline {
        font-size: 26px;
        font-family: 'Questrial', sans-serif;
        width: 100%;
    }

    .sidebar-icons {
        font-size: 18px;
        font-family: 'Questrial', sans-serif;

        span {
            margin: 1vh 0px; 

            i {
                font-size: 20px;
            }
        }
    }


    @media (max-width: 800px) {
        & {
            width: 90vw;
            padding: 4vh 5vw;
            height: 60vh;
            text-align: center;
            position: relative;
        }

        .sidebar-background {
            width: 120px;
            height: 120px;
            margin: 0px auto !important;
        }
    }
}

